<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309024096139-rig1123p56pb9378j8n7gjrqj2dmifpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309024096139-rig1123p56pb9378j8n7gjrqj2dmifpv</string>
	<key>API_KEY</key>
	<string>AIzaSyAfm5Nw4OMLxoLAxAdq9oYaBoR2V5n4Srs</string>
	<key>GCM_SENDER_ID</key>
	<string>309024096139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aspl.des</string>
	<key>PROJECT_ID</key>
	<string>daily-essentials-2a096</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-essentials-2a096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:309024096139:ios:0fa9d084a4c60b531f798e</string>
</dict>
</plist>
