<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701528971713-og77vp3gehv59cjbl84k4qq198s62g5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701528971713-og77vp3gehv59cjbl84k4qq198s62g5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCKl_NtBlv9EVWze7DcJQl0U3oHlqvj2Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>701528971713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honeymoneytop.honeymoneytop</string>
	<key>PROJECT_ID</key>
	<string>honeymoneytop-ff285</string>
	<key>STORAGE_BUCKET</key>
	<string>honeymoneytop-ff285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701528971713:ios:59bdcfe6885305ccb27740</string>
</dict>
</plist>