<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390857343001-5a9n14gj8iaqj1r1ld9381adtjjejmia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390857343001-5a9n14gj8iaqj1r1ld9381adtjjejmia</string>
	<key>API_KEY</key>
	<string>AIzaSyCyxCfrFCP3-wgHWLxKxiUk2wCOI9h8xN0</string>
	<key>GCM_SENDER_ID</key>
	<string>390857343001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RewardsPlus.Rplus</string>
	<key>PROJECT_ID</key>
	<string>rplus-23897</string>
	<key>STORAGE_BUCKET</key>
	<string>rplus-23897.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390857343001:ios:edd754d49f7450d616ea88</string>
</dict>
</plist>