<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257036300045-peg49q84cqp0ph198eslhh06ib0h27k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257036300045-peg49q84cqp0ph198eslhh06ib0h27k7</string>
	<key>API_KEY</key>
	<string>AIzaSyCA3GYdKu6Rs4jII4Eh_WvkHwpG0gUGz1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>257036300045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RewardsPlus.Rplus</string>
	<key>PROJECT_ID</key>
	<string>rewardsplus-store</string>
	<key>STORAGE_BUCKET</key>
	<string>rewardsplus-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257036300045:ios:450669069d30a7300d4a44</string>
</dict>
</plist>